body {
  background-color: #585B56;
  align-content: center;
  text-align: center;
}
.container {
  width: 500px;
  margin: 90px auto;
}

p {
  font-size: 21px;
}

.red-button {
  font-family: 'Poppins', sans-serif;
  color: #b2b09b;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  background-color: #EA526F;
  padding: 24px;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
}

.red-button a{
  color: white;
}

.red-button:hover {
  background-color: #6d3d3e;
}

h1 {
  color: #D7AF70;
} 

img {
  margin: 0;
}